# Studio API Key (optional - use if not using Vertex AI)
# GOOGLE_API_KEY=your-studio-api-key

# Vertex AI
GOOGLE_API_KEY=your-google-api-key
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/key.json
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
project_number=your-project-number

# Use Vertex AI (true) or Studio API (false)
GOOGLE_GENAI_USE_VERTEXAI=true

# VEO Bucket
VEO_BUCKET=your-bucket-name
